html {
    background-color: #FAF3E6; /* Serpia */
}

h1,
h2 {
    font-family: ActaDisplay-Book, Times;
}

h1,
h2,
h3 {
    margin-top: 30px;
}


a {
    color: inherit;
    text-decoration: underline;
}

.jumbotron {
    text-align: center;
}

.logo-wrapper h1 {
    font-size: 48px;
}

.ge-logo-splash {
    width: 50px;
    height: auto;
    margin-right: 20px;
    margin-top: -10px;
    vertical-align: center;
}

a:hover {
    color: #EBB400;
}

h1 { font-size: 42px; }
h2 { font-size: 32px; }
h3 { font-size: 16px; }


h3 { 
    font-family: Futura, sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;
}

p {
    font-family: 'Georgia', 'Times', serif;
    color: #444444;
    font-size: 18px;
    line-height: 1.55;
    margin-top: 10px;
    margin-bottom: 10px;
}

.serpia {
    background-color: #FAF3E6; /* Serpia */
}

.btn-topnav {
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #800080; /* Fusia Purple */
    color: #fff;
    font-size: 18px;
}

.top-nav-bar a {
    font-weight: bolder;
    font-size: 24px;
    margin-left: 50px;
    padding: 15px;
}

.top-nav-bar input {
    height: 46px;
    width: 250px;
    padding: 0 12px 0 25px;
    margin-left: 45px;
    background: white url("http://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 8px 6px no-repeat;
    border-width: 1px;
    border-style: solid;
    border-color: #a8acbc #babdcc #c0c3d2;
    border-radius: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

.top-nav-bar input:focus {
    outline: none;
    border-color: #66b1ee;
    -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -moz-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -ms-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -o-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}

.top-nav-bar h1, h2, h3 {
    font-family: 'Georgia','Times',serif;
}

.top-nav-bar h1 {
    margin-top: 0px;
}

.top-nav-bar h3 {
    font-style: italic;
    margin-top: 10px;
}


.featured-idea
{
	width: 1000px;
	height: 350px;
	overflow: hidden;
	box-shadow: 0px 0px 11px 8px rgb(148, 106, 33);
	margin: auto;
	margin-bottom: 30px;
}
.featured-idea h3
{
    font-size: 14px;
    margin-top: 21px;
    margin-left: 6px;
    padding-right: 6px;
    text-align: center;
}

.featured-idea .next-link
{
	position: absolute;
	left:70%;
	z-index: 100;
	text-transform: uppercase;
	font-size: 18px;
	cursor: pointer;
	color: white;
    margin-top: 320px;
    margin-left: -132px;
	text-shadow: 0 0 1em #87F, 0 0 1em #87F, 0 0 1em #87F;

}
.featured-idea iframe {
	width:600px;
	height:350px;
	float:left;
	background: url('http://www.howto-expert.com/wp-content/uploads/idea.jpg');
	background-size: cover;
}
.featured-idea p{
	font-style: italic;
    text-overflow: ellipsis;
    max-height: 140px;
    overflow: hidden;
}
.featured-idea .description
{
/*	float:right;
	width: 320px;
	float: right;
	padding: 8px 24px;*/
    max-height: 350px;
    overflow: hidden;
}

.featured-idea .traction
{
	text-align: center;
    margin-top:10%;
	height: 100px;
	padding-top: 1px;
	background: url('/img/egg-normal.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

}
.featured-idea .traction span
{
	font-size: 26px;
	font-weight: bold;
}

.idea-link{
	
}
.idea-link a:hover{
	text-decoration: none;

}
.idea-link-right{
	float:right;
}
.idea-link .title{
	margin-left:30%;
	text-align: center;
	padding: 10px;
	float: right;

}
.idea-link .summary{
	font-style: italic;
}

.idea-link .traction{
	text-align: center;
	height: 100%;
	width: 30%;
	position: absolute;
	top:0;
	background: url('/img/egg-normal.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.idea-link .traction label{
	top: 33%;
	margin: auto;
	position: relative;
	font-size: 10px;
}
.idea-link .traction span{
	top: 45%;
	position: absolute;
	margin: auto;
}
