
<div class="row-fluid ">
	<div class="row-fluid idea-detail-header">

	<!-- 	<a class="navi-button-prev" href="/#">
			<i class="icon icon-th-list small-right-margin "></i>List
		</a> -->
		<div class="span9">
			<div class="row-fluid">
				<h3 class="pull-left no-top-margin">{{detailCtrl.current.getTitle()}}</h3>

				<a class="btn btn-primary" href="#/ideas/{{detailCtrl.current.id}}/edit">
					Edit
				</a>
			</div>
			<h2>{{detailCtrl.current.getTout()}}</h2>
			<h3 class="creator pull-left"><span class="small-right-margin">Creator </span>{{detailCtrl.current.getOwner()}}</h3>
			<h3 class="creator pull-left small-left-margin"><span class="small-right-margin">Target</span>{{detailCtrl.current.getTarget()}}</h3>
		</div>
		<div class="span3">
			<div class="egg-wrapper ">
				<div class="traction dark ">
					<h3>Traction<br />
						<span class="traction-numb">{{detailCtrl.current.getTraction()}}</span>
					</h3>

				</div>
				<img src="img/egg-normal.png" />
			</div>
		</div>
	</div>

	<div class="row-fluid top-padding idea-detail-detail">

		<div class="span8 row-fluid withRadius center-align">			
			<div class="row-fluid">
				<div class="row-fluid">
					<iframe  ng-src="{{trustSrc(detailCtrl.current.getPitchVideoUrl())}}" frameborder="0" allowfullscreen style="width:100%;" ></iframe>
				</div>
			</div>
		</div>
		<div class="span3 row-fluid withRadius width-padding top-padding bottom-padding center-align">
			<div style="margin-bottom:15px;">
				<h3><span style="display:block;font-size:32px;color:#83B016;">{{detailCtrl.current.getEducatorVotes()}}</span>Educator Endorsements</h3>
				<button ng-click="detailCtrl.endorse()" class="btn btn-block btn-large btn-success">+ Endorse</button>
			</div>
			<div>
				<h3><span style="display:block;font-size:32px;color:#463FFA;">{{detailCtrl.current.getDeveloperVotes()}}</span>Technologists</h3>
				<button ng-click="detailCtrl.volunteer()" class="btn btn-block btn-large btn-info">+ Volunteer</button>
			</div>			
		</div>
	</div>

	<div class="row-fluid top-padding bottom-padding idea-detail-detail">

		<div class="span8 row-fluid white-back withShadow withRadius width-padding top-padding bottom-padding">
			<span btf-markdown="detailCtrl.current.getSummary()"></span>
		</div>		
	</div>
	<div class="row-fluid" ng-include src="'app/views/footer.html'"></div>		
</div>
