<div class="row-fluid">
	<div class="navi-bar-title dark">

		<a class="navi-button-prev" ng-click="setAnimationClass('moveleft')" href="#/ideas/{{detailCtrl.current.id}}">
			Back
		</a>

		    <h1 class="human title">Edit</h1>

	</div>

	<div class="row-fluid width-padding top-padding bottom-padding">

		<div class="row-fluid center-align">
			<div class="row-fluid bottom-margin">
				<h1 class="punchy muted light-text-shadow"><i class="icon icon-user small-right-margin"></i></h1>				
			</div>
		</div>

		<div id="loadingContainer" class="relative row-fluid">
			<div class="row-fluid white-back withShadow withRadius width-padding top-padding bottom-padding center-align">
		
				<div class="row-fluid left-align">

					<form name="editForm" class="form-horizontal" novalidate>
					  <div class="control-group">
					    <label class="control-label" for="inputTitle">Title</label>
					    <div class="controls">
					      <input style="width:97%" type="text" ng-model="detailCtrl.editCurrent.title" placeholder="Title" required>
					    </div>
					  </div>
					  <div class="control-group">
					    <label class="control-label" for="inputTout">Tweetable</label>
					    <div class="controls">
					      <input style="width:97%" type="text" ng-model="detailCtrl.editCurrent.tout" placeholder="140 chars or less" required>
					    </div>
					  </div>
					  <div class="control-group">
					    <label class="control-label" for="inputTarget">Target Audience</label>
					    <div class="controls">
					      <input style="width:97%" type="text" ng-model="detailCtrl.editCurrent.target" placeholder="Target" required>
					    </div>
					  </div>
					  <div class="control-group">
					    <div class="controls">
					      <button ng-click="detailCtrl.createIdea()" class="btn btn-block btn-large btn-success">Create Idea</button>
					    </div>
					  </div>
					</form>

				</div>
					

			</div>
		</div>

		<div class="row-fluid"></div>
		
	</div>
	<div class="row-fluid" ng-include src="'app/views/footer.html'"></div>		
</div>