<div class="row-fluid">
	<div class="navi-bar-title dark">
		<h1 class="human title">Welcome to the Golden Egg Room!</h1>
	</div>

	<div class="row-fluid width-padding top-padding bottom-padding">

		<div class="row-fluid center-align">
			<div class="row-fluid">
				<h1 class="punchy muted light-text-shadow"><i class="icon icon-info-sign small-right-margin"></i></h1>				
			</div>
			<div class="row-fluid bottom-margin">
				<div class="row-fluid center-align machine">
					<span class="muted">Got an idea? Post an idea here!</span>
				</div>	
			</div>
			
		</div>
		<div class="row-fluid center-align">
			<div class="hero-unit">
				<h1>This is an awesome idea</h1>
				<iframe width="560" height="315" src="//www.youtube.com/embed/kjrBjgQbzLA" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="row-fluid white-back withShadow withRadius center-align">
			

			<a ng-click="goForwardToPath(item.path)"
				class="block row-fluid top-padding bottom-padding relative light-border-bottom white-border-top line height-med"
				ng-repeat="item in masterDetailCtrl.about"
				style="cursor:pointer"
			>
				<div class="span11 muted left-align">
					<div class="med-width-padding">
						<div class="pull-left small-right-margin">
							<i class="icon {{item.icon}} icon-large small-right-margin"></i><span class="small-left-margin machine">{{item.title}}</span> 
						</div>
					</div>
				</div>
				
				<div class="span1 muted pull-right"><i class="icon icon-chevron-right"></i></div>
			</a>

		</div>
	</div>
	<div class="row-fluid" ng-include src="'app/views/footer.html'"></div>		
</div>
