<footer class="row-fluid big-top-margin width-padding big-bottom-margin hide-on-animate">
	<div class="muted fusia withShadow withRadius">
		<div class="row-fluid width-padding top-padding bottom-padding machine">	
			<ul>
				<li>
					<a href="#" class="width-padding"><span class="lightest-text font-size-large">Contact</span></a>
				</li>
				<li>
					<a href="#" class="width-padding"><span class="lightest-text font-size-large">FAQ</span></a>            
				</li>
				<li>
					<a href="#" class="width-padding"><span class="lightest-text font-size-large">Resources</span></a>
				</li>
			</ul>
            
		</div>
	</div>
</footer>