<div class="row-fluid">
	
	<div class="one-third light-dark-back shadow-ninja right-light inset" style="height: 1500px">

	<div class="row-fluid top-padding bottom-padding width-padding light-border-top light-border-bottom">
		</div>
		<a  ng-click="transitionTo(item.state)"
			class="block light-back-hover width-padding row-fluid top-padding bottom-padding light-border-top light-border-bottom"
			ng-class="isActiveState(item.state)"
			ng-repeat="item in masterDetailCtrl.menu"
		>
			<div class="span3 center-align">
				<h4 class="power muted no-height-margin line height-btn">
					<i class="icon {{item.icon}} small-right-margin"></i>
				</h4>
			</div>
			<div class="span7">
				<h4 class="human muted no-height-margin line height-btn">
					{{item.title}}
				</h4>
			</div>
			<div class="span1 pull-right">
				<h4 class="muted no-height-margin line height-btn"><i class="icon icon-chevron-right"></i></h4>
			</div>
		</a>
		
		<div class="row-fluid width-padding top-margin">
			<div ng-include src="'app/views/debug.html'"></div>
		</div>

	</div>

	<div class="two-thirds relative">
		<div ng-class="masterDetailCtrl.animate" ui-view="detail" booty-shake></div>
	</div>

</div>