<header class="row-fluid center-align">

	<div class="row-fluid top-margin top-nav-bar">
        <img src="img/ge-logo.png" alt="logo" width="45" height="45" />
        <a href="#/">Ideas</a>
        <a href="javascipt:">How it works</a>
        <input type="text" value="search" />
        <a href="#/create" class="btn-topnav">Launch an idea</a>
		<div style="float:right; padding-right: 10px;">
		    <a class="lnk-login" href="#/facebook" >Log in</a>
            <div class="user-info" style="display:none;">
                <div class="user-pic" style="width:50px; height: 50px; float: right;"></div>
                <div class="user-role" style="color:blue;"></div>
                <div class="user-name" style="color:blue;"></div>
            </div>

	    </div>
        <div style="clear:both;"></div>
	</div>
    <div class="row-fluid top-nav-bar">
        <br /><br />
        <img src="img/ge-logo.png" alt="logo" width="100" height="100" />
    </div>
    <div class="row-fluid top-nav-bar">
        <h1>Golden Egg</h1>
        <h3>Ideas for education leade</h3>
    </div>
</header>