<header class="row-fluid center-align">
	<div class="row-fluid top-margin">
		<h2 class="lightest-text text-shadow human" style="text-transform:none">Golden Egg Room</h2>
        <div style="float:right">
		    <a class="lnk-login" href="#/facebook" >Log in</a>
            <div class="user-info">
                <div class="user-pic" style="width:50px; height: 50px; float: right;"></div>
                <div class="user-role" style="color:blue;"></div>
                <div class="user-name" style="color:blue;"></div>
            </div>
	    </div>
        <div style="clear:both;"></div>
	</div>
</header>